<div class="component-view">
  <% if aeon_enabled %>
    <% @last_container_seen = '' %>
    <% @checkbox_id = 0 %>
  <% end %>
  <% current_nesting_level = 1 %>
  <% subseries_num = 0 %>
  <% series.flattened_component_tree_structure.each do |component| %>
    <% if component.nesting_level > current_nesting_level %>
      <hr class="component_entry">
      <div class="component_entry">
    <% elsif component.nesting_level < current_nesting_level %>
       <hr class="component_entry">
       <% (component.nesting_level...current_nesting_level).each do %>
        </div>
      <% end %>
    <% else %>
       <hr class="component_entry">
    <% end %>
    <% current_nesting_level = component.nesting_level %>
    <% if aeon_enabled %>
      <% if @repository.checkbox_per_unittitle %>
        <% unittitle_string = "#{AEON[:unittitle_delimiter]}#{remove_unittitle_tags(component.unit_title)}" %>
        <% container_info_string = component.container_info_strings.join(' ') %>
      <% else %>
        <% unittitle_string = '' %>
        <% container_info_string = component.container_info_strings.first %>
      <% end %>
      <%== checkbox_display(unittitle_string,
                            component_id,
                            (@checkbox_id += 1),
                            container_info_string,
                            component.container_info_barcode) unless component.container_info_strings.empty?
      %>
    <% end %>
    <p class="component_info">
      <% unless component.container_info_strings.empty? %>
        <span class="container_info">
          <%= component.container_info_strings.join(' ') %>
        </span>
      <% end %>
      <% if (component.nesting_level == 1 && component.level_attribute == 'subseries') %>
        <% subseries_num += 1 %>
        <a class="subseries_anchor" name="<%= "subseries_#{subseries_num}" %>"></a>
        <span class="subseries_title">
          <%== [remove_unittitle_tags(component.unit_title),
                ArchiveSpace::Parsers::EadHelper.compound_dates_into_string(component.unit_dates),
                component.physical_description_extents_string].reject(&:blank?).join(", ") %>
        </span>
      <% else %>
      <span class="<%== @repository_code %> component_title">
	<%== [remove_unittitle_tags(component.unit_title),
             ArchiveSpace::Parsers::EadHelper.compound_dates_into_string(component.unit_dates),
             component.physical_description_extents_string].reject(&:blank?).join(", ") %>
      </span>
      <% end %>
    </p>
    <% unless component.digital_archival_objects.empty? %>
      <div class="component_notes_red">
        <% component.digital_archival_objects.each do |dao| %>
          <%= link_to 'Access digital content: ' + dao.description, dao.href %>
          <br>
        <% end %>
      </div>
    <% end %>
    <% unless component.conditions_governing_access_values.empty? %>
      <div class="component_notes_red">
        <% component.conditions_governing_access_values.each do |access_restrictions_value| %>
          <%== access_restrictions_value %>
        <% end %>
      </div>
    <% end %>
    <% unless component.conditions_governing_use_values.empty? %>
      <div class="component_notes_red">
        <% component.conditions_governing_use_values.each do |use_restrictions_value| %>
          <%== use_restrictions_value %>
        <% end %>
      </div>
    <% end %>
    <% misc_notes = component.scope_and_content_values +
                    component.arrangement_values +
                    component.related_material_values +
                    component.separated_material_values +
                    component.alternative_form_available_values +
                    component.biography_or_history_values +
                    component.custodial_history_values +
                    component.acquisition_information_values +
                    component.other_descriptive_data_values +
                    component.other_finding_aid_values
    %>
    <% unless misc_notes.empty? %>
      <div class="component_notes">
        <% misc_notes.each do |misc_note| %>
          <%== misc_note %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
