<div class="nnc-a">
  <h1 style="color:#2c5277;font-size:16px;font-weight:bold;"><%= @component_title %></h1>
  <% @component_scope_content_ps.each do |scope_content_p| %>
    <%== apply_ead_to_html_transforms scope_content_p %>
  <% end %>
  <% @other_finding_aid_ps.each do |other_finding_aid_p| %>
    <%== apply_ead_to_html_transforms other_finding_aid_p %>
  <% end %>
  <table style="width:100%">
    <% @flattened_component_structure.each do |component| %>
      <% ( nesting_level,
           title,
           physical_description,
           date,
           level,
           scope_content_ps,
           separated_material_ps,
           other_finding_aid_ps,
           container_info ) = component
         displayed_component_infos = scope_content_ps +
                                     separated_material_ps +
                                     other_finding_aid_ps
      %>
      <tr style="border-top:1px solid #eee">
        <td style="width:20%"><%= container_info.join(': ') %></td>
        <td style="width:60%;font-weight:bold"> <%= [title, physical_description].reject(&:blank?).join(", ") %> </td>
        <td style="width:20%"><%= date %></td>
      </tr>
      <% unless displayed_component_infos.empty? %>
        <tr>
          <td style="width:20%"></td>
          <td style="width:60%">
	    <% displayed_component_infos.each do |displayed_component_info| %>
	      <%== displayed_component_info %>
	    <% end %>
	  </td>
          <td style="width:20%"></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>    
