<div class="nnc-rb">
  <h1>RBML</h1>
  <% @last_container_seen = '' %>
  <% @checkbox_id = 0 %>
  <% current_nesting_level = 1 %>
  <% @flattened_component_structure.each do |component| %>
    <% ( nesting_level,
         title,
         date,
         level,
         scope_content_ps,
         separated_material_values,
         other_finding_aid_values,
         container_info ) = component
    %>
    <% if nesting_level > current_nesting_level %>
      <hr style="margin-top:10px;margin-bottom:10px">
      <div class="component_entry" style="margin-left:2em;">
    <% elsif nesting_level < current_nesting_level %>
       <hr style="margin-top:10px;margin-bottom:10px">
       <% (nesting_level...current_nesting_level).each do %>
        </div>
      <% end %>
    <% end %>
    <% current_nesting_level = component[0] %>
    <%== checkbox_display(container_info[0]) unless container_info.empty? %>
    <p style="margin:0">
      <span style="text-align:left;"> <%= title %> </span>
      <span style="text-align:right;float:right;"><%=container_info.join(' ') %></span>
    </p>
    <% unless scope_content_ps.empty? %>
      <p style="margin:0">
        <% scope_content_ps.each do |scope_content_p| %>
          <%== scope_content_p %>
        <% end %>
      </p>
    <% end %>
    <% unless separated_material_values.empty? %>
      <p style="margin:0">
        <% separated_material_values.each do |separated_material_value| %>
          <%== apply_ead_to_html_transforms separated_material_value %>
        <% end %>
      </p>
    <% end %>
    <% unless other_finding_aid_values.empty? %>
      <p style="margin:0">
        <% other_finding_aid_values.each do |other_finding_aid_value| %>
          <%== apply_ead_to_html_transforms other_finding_aid_value %>
        <% end %>
      </p>
    <% end %>
  <% end %>
</div>
