<div class="c-view-style-a">
  <table style="width:100%">
    <% subseries_num = 0 %>
    <% series.flattened_component_tree_structure.each do |component| %>
      <tr style="border-top:1px solid #eee">
        <td style="width:20%"><%= component.container_info_strings.join(': ').sub(/\s*\[\S*\]\s*/,' ') %></td>
        <td style="width:60%;font-weight:bold">
          <% if (component.nesting_level == 1 && component.level_attribute == 'subseries') %>
	  <% subseries_num += 1 %>
	  <a class="subseries_anchor" name="<%= "subseries_#{subseries_num}" %>"></a>
            <h3 style="color: #999;font-weight: bold;font-size: 14px;border-bottom:none;">
              <%== [component.unit_title, component.physical_description_extents_string].reject(&:blank?).join(", ") %>
            </h3>
          <% else %>
            <%== [component.unit_title, component.physical_description_extents_string].reject(&:blank?).join(", ") %>
          <% end %>
	</td>
        <td style="width:20%"><%= ArchiveSpace::Parsers::EadHelper.compound_dates_into_string component.unit_dates %></td>
      </tr>
      <% unless component.digital_archival_objects.empty? %>
        <tr style="border-top:1px solid #eee">
          <td style="width:20%"></td>
          <td style="width:60%;color:red;">
            <% component.digital_archival_objects.each do |dao| %>
              <%== link_to 'Access digital content: ' + dao.description, dao.href %>
              <br>
            <% end %>
	  </td>
          <td style="width:20%"></td>
        </tr>
      <% end %>
      <% unless component.conditions_governing_access_values.empty? %>
        <tr style="border-top:1px solid #eee">
          <td style="width:20%"></td>
          <td style="width:60%;color:red;">
            <% component.conditions_governing_access_values.each do |access_restrictions_value| %>
              <%== access_restrictions_value %>
            <% end %>
	  </td>
          <td style="width:20%"></td>
        </tr>
      <% end %>
      <% unless component.conditions_governing_use_values.empty? %>
        <tr style="border-top:1px solid #eee">
          <td style="width:20%"></td>
          <td style="width:60%;color:red;">
            <% component.conditions_governing_use_values.each do |use_restrictions_value| %>
              <%== use_restrictions_value %>
            <% end %>
	  </td>
          <td style="width:20%"></td>
        </tr>
      <% end %>
      <% misc_notes = component.scope_and_content_values +
                      component.arrangement_values +
                      component.related_material_values +
                      component.separated_material_values +
                      component.alternative_form_available_values +
                      component.biography_or_history_values +
                      component.custodial_history_values +
                      component.acquisition_information_values +
                      component.other_descriptive_data_values +
                      component.other_finding_aid_values
      %>
      <% unless misc_notes.empty? %>
        <tr>
          <td style="width:20%"></td>
          <td style="width:60%">
	    <% misc_notes.each do |misc_note| %>
	      <%== misc_note %>
	    <% end %>
	  </td>
          <td style="width:20%"></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
