<h2 style="color:#2c5277;font-size:16px;font-weight:bold;"><%= series.compound_title_string %></h2>
<% series.digital_archival_objects.each do |digital_archival_object| %>
  <%= link_to 'Access digital content: ' + digital_archival_object.description, digital_archival_object.href %>
  <br>
<% end %>
<% series.conditions_governing_access_values.each do |access_restrictions| %>
  <% unless defined? print_view %>
    <div style="color:red;">
  <% end %>
    <%== ArchiveSpace::Parsers::EadHelper.apply_ead_to_html_transforms access_restrictions %>
  <% unless defined? print_view %>
    </div>
  <% end %>
<% end %>
<% series.conditions_governing_use_values.each do |use_restrictions| %>
  <% unless defined? print_view %>
    <div style="color:red;">
  <% end %>
    <%== ArchiveSpace::Parsers::EadHelper.apply_ead_to_html_transforms use_restrictions %>
  <% unless defined? print_view %>
    </div>
  <% end %>
<% end %>
<!-- In the following initializing of misc_notes, the scope_and_content_values attribute is listed first -->
<!-- due to requirements. The other attributes of series are listed in alphabetical to facilitate updating -->
<!-- the implementation since there is  no ordering requirement for these attributes -->
<% misc_notes = series.scope_and_content_values +
                series.acquisition_information_values +
                series.alternative_form_available_values +
                series.arrangement_values +
                series.biography_or_history_values +
                series.custodial_history_values +
                series.other_descriptive_data_values +
                series.other_finding_aid_values +
                series.related_material_values +
                series.separated_material_values
%>
<%= series.physical_description_extents_string %>
<% misc_notes.each do |misc_note| %>
  <%== ArchiveSpace::Parsers::EadHelper.apply_ead_to_html_transforms misc_note %>
<% end %>
