<div class="nnc-rb">
  <h1 style="color:#2c5277;font-size:16px;font-weight:bold;"><%= @component_title %></h1>
  <% @notes.access_restrictions_ps.each do |access_restrictions_p| %>
    <div style="color:red;">
      <%== apply_ead_to_html_transforms access_restrictions_p %>
    </div>
  <% end %>
  <% @notes.use_restrictions_ps.each do |use_restrictions_p| %>
    <div style="color:red;">
      <%== apply_ead_to_html_transforms use_restrictions_p %>
    </div>
  <% end %>
  <% misc_notes = @notes.scope_content_ps +
                  @notes.arrangement_ps +
                  @notes.related_material_ps +
                  @notes.separated_material_ps +
                  @notes.alternative_form_available_ps +
                  @notes.biography_history_ps +
                  @notes.custodial_history_ps +
                  @notes.acquisition_information_ps +
                  @notes.odd_ps +
                  @notes.other_finding_aid_ps
  %>
  <% misc_notes.each do |misc_note| %>
    <%== apply_ead_to_html_transforms misc_note %>
  <% end %>
  <% @last_container_seen = '' %>
  <% @checkbox_id = 0 %>
  <% current_nesting_level = 1 %>
  <% @flattened_component_structure.each do |component| %>
    <% ( nesting_level,
         title,
         physical_description,
         date,
         level,
         container_info,
         notes
       ) = component
       misc_notes = notes.scope_content_ps +
                    notes.arrangement_ps +
                    notes.related_material_ps +
                    notes.separated_material_ps +
                    notes.alternative_form_available_ps +
                    notes.biography_history_ps +
                    notes.custodial_history_ps +
                    notes.acquisition_information_ps +
                    notes.odd_ps +
                    notes.other_finding_aid_ps
    %>
    <% if nesting_level > current_nesting_level %>
      <hr style="margin-top:10px;margin-bottom:10px;">
      <div class="component_entry" style="margin-left:1em;">
    <% elsif nesting_level < current_nesting_level %>
       <hr style="margin-top:10px;margin-bottom:10px;">
       <% (nesting_level...current_nesting_level).each do %>
        </div>
      <% end %>
    <% else %>
       <hr style="margin-top:10px;margin-bottom:10px;">
    <% end %>
    <% current_nesting_level = component[0] %>
    <%== checkbox_display(@component_title, container_info[0]) unless container_info.empty? %>
    <p style="margin:0">
      <span style="text-align:left;"> <%= [title, date, physical_description].reject(&:blank?).join(", ") %> </span>
      <span style="text-align:right;float:right;"><%=container_info.join(' ') %></span>
    </p>
    <% unless notes.access_restrictions_ps.empty? %>
      <div style="margin:0;padding-left:1em;color:red;">
        <% notes.access_restrictions_ps.each do |access_restrictions_p| %>
          <%== access_restrictions_p %>
        <% end %>
      </div>
    <% end %>
    <% unless notes.use_restrictions_ps.empty? %>
      <div style="margin:0;padding-left:1em;color:red;">
        <% notes.use_restrictions_ps.each do |use_restrictions_p| %>
          <%== use_restrictions_p %>
        <% end %>
      </div>
    <% end %>
    <% unless misc_notes.empty? %>
      <div style="margin:0;padding-left:1em;">
        <% misc_notes.each do |misc_note| %>
          <%== misc_note %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
