<%= form_tag(aeon_request_path, {target: '_blank', authenticity_token: @authenticity_token}) do %>
<div class="aeon_blurb">
<p><%= t('aeon.text_submit_container_list') %></p>
<%= submit_tag 'Submit Request'%>
<input type="button" id="clear_checkboxes" value="Clear Checkboxes">
</div>
<hr>
<div style="clear:both;">
  <%= yield %>
</div>
<%= hidden_field_tag 'site', @aeon_site_code %>
<%= hidden_field_tag 'ComponentTitle_FIXED', @component_title %>
<%= hidden_field_tag 'bib_id', @arch_desc_did.unit_id_bib_id %>
<%= hidden_field_tag 'call_number', @arch_desc_did.unit_id_call_number %>
<%= hidden_field_tag 'item_title', @finding_aid_title %>
<%= hidden_field_tag 'author', @arch_desc_did.origination_creators.join('; ') %>
<%= hidden_field_tag 'item_date', @arch_desc_did.unit_dates_string %>
<%= hidden_field_tag 'location', @restricted_access_flag ? 'Offsite' : @arch_desc_did.repository_corporate_name %>
<%= hidden_field_tag('unprocessed','unprocessed') if @unprocessed_flag %>
<% end %>
<%= javascript_tag do %>
$("#clear_checkboxes").click(function() {
  $(".aeon_checkbox").removeAttr('checked');
  return false;
});
<% end %>
