<%= form_tag(aeon_request_path, {target: '_blank'}) do %>
<div class="aeon_blurb">
<p>Submit a request for access to the archival material.
All users will need to register the first time they make a request.
Columbia-affiliated users may login with their uni and password.
  Unaffiliated users may create a new account.
</p>
<%= submit_tag 'Submit Request'%>
<input type="button" id="clear_checkboxes" value="Clear Checkboxes">
</div>
<hr>
<div style="clear:both;">
  <%= yield %>
</div>
<%= hidden_field_tag 'ComponentTitle_FIXED', @component_title %>
<%= hidden_field_tag 'bib_id', @bib_id %>
<%= hidden_field_tag 'item_title', @finding_aid_title %>
<% end %>
<%= javascript_tag do %>
$("#clear_checkboxes").click(function() {
  $(".aeon_checkbox").removeAttr('checked');
  return false;
});
<% end %>
