<%= render partial: 'banner_breadcrumbs_title' %>
<table style="width:100%">
  <tbody>
    <tr>
      <td class="sidebar">
        <%
          series_titles_urls =
            @arch_desc_dsc.series_compound_title_array.map.with_index do |series_title, index|
              [series_title, repository_finding_aid_component_path(id: index+1, finding_aid_id: params[:finding_aid_id])]
            end
        %>
        <%= render partial: 'new_sidebar',
                   locals: { slug: repository_finding_aid_path(id: params[:finding_aid_id]),
                             restricted_access: @restricted_access_flag,
                             series_titles_urls: series_titles_urls,
                             subseries_titles: @arch_desc_dsc.subseries_compound_title_array_for_each_series_array }
        %>
      </td>
      <td class="ead_content">
        <!-- MAIN FINDING AID INFORMATION -->
        <%= render partial: 'fa_top_level_info',
            locals: {finding_aid_id: params[:finding_aid_id]}
        %>
        <!-- SERIES INFORMATION -->
	<a class="fa_anchor" name="view_all"></a>
        <% if REPOS[params[:repository_id]][:requestable_via_aeon] %>
          <%= render partial: 'view_all',
                     locals: {series_titles: @arch_desc_dsc.series_compound_title_array},
                     layout: "with_aeon"
          %>
        <% else %>
          <%= render partial: 'view_all',
                     layout: "without_aeon"
          %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
