<%- breadcrumb(:ead_component, @repository, params[:finding_aid_id], @finding_aid_title, params[:id], @series.unit_title.text) %>
<%= render 'shared/breadcrumbs' %>
<div class="row">
  <div class="sidebar col-6 col-sm-4 col-md-3 col-lg-2">
        <%
          series_titles_urls =
            @arch_desc_dsc.series_compound_title_array.map.with_index do |series_title, index|
              [series_title, repository_finding_aid_component_path(id: index+1)]
            end
        %>
	<%= render partial: 'sidebar',
                   locals: { slug: repository_finding_aid_path(params[:repository_id], params[:finding_aid_id]),
                             restricted_access: @restricted_access_flag,
                             series_titles_urls: series_titles_urls,
                             subseries_titles: @arch_desc_dsc.subseries_compound_title_array_for_each_series_array }
        %>
  </div>
  <div class="col ead_content">
        <!-- INFORMATION FOR TOP-LEVEL <c> ELEMENT, CURRENTLY A SERIES -->
        <%= render partial: 'component_structure_view_top_level_c',
                   locals: {series: @series}
        %>
        <!-- INFORMATION FOR SECOND LEVEL <C> ELEMENTS AND CONTAINED <C> ELEMENTS AT LOWER LEVELS -->
	<% repo_suffix = params[:repository_id].gsub('-','_') %>
	<% if @repository.aeon_enabled? %>
          <!-- component_id needed for the creation of checkboxes for repos using aeon -->
          <%= render partial: "component_structure_view",
                     layout: "with_aeon",
                     locals: {series: @series,
                              series_titles: @arch_desc_dsc.series_compound_title_array,
                              aeon_enabled: true,
                              component_id: params[:id]}
          %>
	<% else %>
          <%= render partial: "component_structure_view",
                     layout: "without_aeon",
                     locals: {series: @series,
                              aeon_enabled: false}
          %>
	<% end %>
  </div>
</div>
