<h2><%= @series_title %></h2>
<p><%= @series_scope_content %></p>
<table class="table table-striped">
  <% @ead_series_files_info.each do |title_box_hash| %>
  <tr>
    <td><%= title_box_hash[:title] %></td>
    <td><%= title_box_hash[:box_number] %></td>
  </tr>
  <% end %>
</table>
<%== @series_html %>
