<%= render Acfa::BannerComponent.new(repository: @repository, render_repository: false) %>
<div class="container">
  <div class="al-repositories acfa-repositories row">
    <article id="main-article" class="col-sm-8">
      <h2 class="h4 text-uppercase"><%= @repository.name %></h2>
      <div class="accordion_content section">
        <div class="cul-theme-component-repository-action mb-3">
          <%= link_to(search_action_url(f: { repository: [@repository.slug] }), class: "btn btn-link d-block py-3 p-md-0 text-left") do %>
            <div class="card rounded-0 text-center text-md-left">
              <div class="row no-gutters">
                <div class="col-md-2 d-flex align-items-center justify-content-center">
                  <i class="fa fa-light fa-magnifying-glass fa-w-20 fa-3x"></i>
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <div class="card-title h4 my-0">Search All Our Finding Aids</div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="section">
        <%= render Acfa::Arclight::Repository::CollectionsComponent.new(repository: @repository, collections: @collections) %>
      </div>

    </article>
    <%= render Acfa::Arclight::Repository::SidebarComponent.new(repository: @repository) %>
  </div>
</div>