<div class="aeon-confirm-request container">
  <h3 class="trajanpro">Confirm Request</h3>
  <div class="span8">
    <p>
      <b>Item Title</b>
      <%= @item_title %>
    </p>
    <% @selected_containers.each do |container_info| %>
      <% series_num, component_title, container_info_string, container_info_barcode =
         container_info.split(CONFIG[:container_info_delimiter]) %>
      <p>
        <b>Item Volume</b>
        <%= container_info_string %>
        <br>
        <b>Item SubTitle</b>
        <%= [@series_titles[series_num], component_title].join(' ') %>
      </p>
    <% end %>
    <%= form_tag(login_aeon_request_path, data: {turbo: false}) do %>
      <p>
        <b>Request Notes</b>
        <br>
	  <%= t('aeon.text_note_field_submit_request') %>
        <br>
      </p>
      <p>
        <%= text_area_tag :notes, nil, class: 'span8', cols: 60 %>
      </p>
      <% if @display_request_scheduled_date %>
        <p>
          <%= label_tag :scheduled_date, 'Scheduled Date' %>
          <%= date_field_tag :scheduled_date, nil, class: 'hasDatepicker', placeholder: 'YYYY-MM-DD' %>
          <span>(Please use date format shown in input field)</span>
        </p>
      <% end %>
      <p style="color: red;">
	<%= t('aeon.text_footer_first_paragraph_submit_request') %>
      </p>
      <p style="color: red;">
	<%= t('aeon.text_footer_second_paragraph_submit_request') %>
      </p>
      <%= submit_tag 'Submit Request' , {style: "margin-bottom:5px;"} %>
      <input type="button" id="close" style="margin-bottom:5px" value="Cancel" onclick="window.close()" />
      <% params.except(:series_titles).each do |key, value| %>
        <%= hidden_field_tag key, value %>
      <% end %>
      <% @series_titles.each do |key, value| %>
        <input type="hidden" name="series_titles[<%= key %>]" value="<%= value %>">
      <% end %>
    <% end %>
  </div>
</div>
