<div class="aeon-confirm-request container">
  <h3 class="trajanpro">Confirm Request</h3>
  <div class="span8">
    <p>
      <b>Item Title</b>
      <%= @item_title %>
    </p>
    <% @selected_containers.each do |container_info| %>
      <% component_title, container_info_string, container_info_barcode =
         container_info.split(CONFIG[:container_info_delimiter]) %>
      <p>
        <b>Item Volume</b>
        <%= container_info_string %>
        <br>
        <b>Item SubTitle</b>
        <%= component_title %>
      </p>
    <% end %>
    <%= form_tag login_aeon_request_path do %>
      <p>
        <b>Request Notes</b>
        <br>
	  <%= t('aeon.text_note_submit_request') %>
        <br>
      </p>
      <p>
        <%= label_tag :notes, 'Notes' %>
        <%= text_area_tag :notes, nil, class: 'span8', cols: 60 %>
      </p>
      <% if @display_request_scheduled_date %>
        <p>
          <%= label_tag :scheduled_date, 'Scheduled Date' %>
          <%= date_field_tag :scheduled_date, nil, class: 'hasDatepicker', placeholder: 'YYYY-MM-DD' %>
          <span>(Please use date format shown in input field)</span>
        </p>
      <% end %>
      <%= content_tag(:p,  t('aeon.text_footer_submit_request')) %>
      <%= submit_tag 'Submit Request' , {style: "margin-bottom:5px;"} %>
      <input type="button" id="close" style="margin-bottom:5px" value="Cancel" onclick="window.close()" />
      <% params.each do |key, value| %>
        <%= hidden_field_tag key, value %>
      <% end %>
    <% end %>
  </div>
</div>
