<div class="aeon-confirm-request container">
  <div class="aeon-header">
    <div class="aeon-title-name">
      <h3 class="trajanpro">Special Collections Research Account</h3>
    </div>
    <p>To access the system please click the 'Login' button below that represents your affiliation.</p>
  </div>
  <div class="row" style="padding:5px">
    <div class="col-md-6" style="border:1px solid grey;">
      <article>
	<h4>Columbia University Patrons</h4>
	<p>Columbia University Affiliates include current students, faculty, offices, and staff.</p>
      </article>
      <% aeon_url = "#{AEON[:aeon_url]}/boom.html" %>
      <%= form_tag(aeon_url, method: :get) do %>
        <%= hidden_field_tag 'authenticated', 'true' %>
        <%= hidden_field_tag 'target', redirectshib_aeon_request_url %>
        <%= submit_tag 'Login', {style: "margin-bottom:5px;"} %>
      <% end %>
      <p><br></p>
      <p><br></p>
    </div>
    <div class="col-md-6">
      <article>
	<h4>Non-Columbia University Patrons</h4>
	<p>Non-Columbia University patrons include everyone not actively affiliated with the University. Special Borrower card holders, alumni, and staff retiresees are non-Columbia affiliates.</p>
      </article>
      <%= form_tag(redirectnonshib_aeon_request_path, method: :get) do %>
        <%= submit_tag 'Login', {style: "margin-bottom:5px;"} %>
      <% end %>
    <p>First time user? Click to <a href="https://aeon.cul.columbia.edu/nonshib/aeon.dll?Action=10&Form=79">create an account</a>.<p>
    </div>
  </div>
</div>
