<h2 class="al-show-sub-heading">About the Finding Aid / Processing Information</h2>
<%= content_tag(:p,"Columbia University Libraries, #{@ead_header.publication_statement_publisher}") %>
<% unless @ead_header.title_statement_sponsor.nil? %>
  <%= content_tag(:h3, 'Sponsor Information', class: 'al-show-sub-heading') %>
  <%= content_tag(:p,@ead_header.title_statement_sponsor) %>
<% end %>
<%= content_tag(:h3, @arch_desc_misc.processing_information_head, class: 'al-show-sub-heading') unless @arch_desc_misc.processing_information_head.nil? %>
<% @arch_desc_misc.processing_information_values.each do |processing_information_value| %>
  <%== ArchiveSpace::Parsers::EadHelper.apply_ead_to_html_transforms processing_information_value %>
<% end %>
<%= content_tag(:h3,@arch_desc_misc.separated_material_head, class: 'al-show-sub-heading') unless @arch_desc_misc.separated_material_head.nil? %>
<% @arch_desc_misc.separated_material_values.each do |separated_material_value| %>
  <%== ArchiveSpace::Parsers::EadHelper.apply_ead_to_html_transforms separated_material_value %>
<% end %>
<%= content_tag(:h3, 'Revision Description', class: 'al-show-sub-heading') unless @ead_header.revision_description_changes.empty? %>
<% @ead_header.revision_description_changes.each do |revision_description_change| %>
  <%= content_tag(:p,"#{revision_description_change[:date]} #{revision_description_change[:item]}") %>
<% end %>
