<% if @preview_flag %>
  <% slug_prefix = '/preview' %>
<% else %>
  <% slug_prefix = '' %>
<% end %>
<%= content_tag(:h3, @ead.scope_content_head) unless @ead.scope_content_head.nil? %>
<% @ead.scope_content_values.each do |scope_content_value| %>
  <%== apply_ead_to_html_transforms scope_content_value %>
<% end %>
<% unless @print_view %>
<p>
  <ul style="list-style-type:none;">
    <% @series_titles.each_with_index do |series_title, index| %>
    <li>
      <p><%= link_to series_title,
                     slug_prefix + repository_finding_aid_component_path(id: index+1, finding_aid_id: params[:id]) %></p>
      <p> <%= @series_scope_content[index] %> </p>
    </li>
    <% end %>
  </ul>
</p>
<% end %>
<%= content_tag(:h3,@ead.odd_head) unless @ead.odd_head.nil? %>
<% @ead.odd_values.each do |odd_value| %>
  <%== apply_ead_to_html_transforms odd_value %>
<% end %>
