<div class="toc" style="clear:both;">
  <h2>Table of Contents</h2>
  <div id="contentMenu1">
    <div class="item">
      <a href="<%= "#{repository_finding_aid_path}#summary" %>">Summary</a>
    </div>
    <div class="item">
      <a href="<%= "#{repository_finding_aid_path}#arrangement" %>">Arrangement</a>
    </div>
    <div class="item">
      <a href="<%= "#{repository_finding_aid_path}#description" %>">Description</a>
    </div>
    <div class="item">
      <a href="<%= "#{repository_finding_aid_path}#using_collection" %>">Using the Collection</a>
    </div>
    <div class="item">
      <a href="<%= "#{repository_finding_aid_path}#about_findaid" %>">About the Finding Aid / Processing Information</a>
    </div>
    <div class="item">
      <a href="<%= "#{repository_finding_aid_path}#subjects" %>">Subject Headings</a>
    </div>
    <div class="item">
      <a href="<%= "#{repository_finding_aid_path}#history" %>">History / Biographical Note</a>
    </div>
  </div>
  <hr style="border-style:solid;border-width:1px">
  <h2>Container List</h2>
  <div id="contentMenu1">
    <% @series_titles.each_with_index do |series_title, index| %>
    <div class="item">
      <%= link_to series_title,
	  repository_finding_aid_component_path(id: index+1, finding_aid_id: params[:id])
	  # slug_to_series_page.call(ser_id: index + 1)
	  %>
    </div>
    <% end %>    
  </div>
</div>
