<h3>EAD Abstract</h3>
<p><%= @abstract %></p>
<h3>At a Glance</h3>
<table class="summaryTable">
  <tbody>
    <tr class="odd">
      <th>Bib ID</th>
      <td>
	<%= @bib_id %>
	<% bib_href = "http://www.columbia.edu/cgi-bin/cul/cliosearch?BIBID=#{@bib_id}" %>
	<a href= <%= bib_href %>
	   target="_blank"
	   class="smaller">
	  View CLIO record
	</a>

      </td>
    </tr>
    <tr class="odd">
      <th>Creator(s)</th>
      <td> <%= @creators.map(&:text).join('; ') %></td>
    </tr>
    <tr class="odd">
      <th>Title</th>
      <td> <%= @finding_aid_title %></td>
    </tr>
    <tr class="odd">
      <th>Physical Description</th>
      <td> <%= @physical_description %></td>
    </tr>
    <tr class="odd">
      <th>Language</th>
      <td> <%= @language %></td>
    </tr>
    <tr class="odd">
      <th>Access</th>
      <td> <%=  @access_restrictions_value %></td>
    </tr>
  </tbody>
</table>
