<h2>Summary Information</h2>
<%= content_tag(:h3,'Abstract') unless @arch_desc_did.abstracts.empty? %>
<% @arch_desc_did.abstracts.each do |abstract| %>
  <p>
    <%== apply_ead_to_html_transforms abstract %>
  </p>
<% end %>
<h3>At a Glance</h3>
<div class="summaryDiv">
  <table class="summaryTable">
    <tbody>
      <% if @arch_desc_did.unit_id_call_number %>
        <tr class="odd">
          <th>Call No.:</th>
          <td> <%= @arch_desc_did.unit_id_call_number %></td>
        </tr>
      <% end %>
      <tr class="odd">
	<th>Bib ID</th>
	<td>
	  <%= @arch_desc_did.unit_id_bib_id %>
	  <% bib_href = "https://clio.columbia.edu/catalog/#{@arch_desc_did.unit_id_bib_id}" %>
	  <a href= <%= bib_href %>
	     target="_blank"
	     class="smaller">
	    View CLIO record
	  </a>
	</td>
      </tr>
      <tr class="odd">
	<th>Creator(s)</th>
	<td> <%= @arch_desc_did.origination_creators.join('; ') %></td>
      </tr>
      <tr class="odd">
	<th>Title</th>
	<td> <%= @finding_aid_title %></td>
      </tr>
      <tr class="odd">
	<th>Physical Description</th>
	<td><%= @arch_desc_did.physical_description_extents_string %></td>
      </tr>
      <tr class="odd">
	<th>Language(s)</th>
	<td> <%= @arch_desc_did.language %></td>
      </tr>
      <% if @arch_desc_misc.other_finding_aid_values.first -%>
      <tr class="odd">
        <th><%= @arch_desc_misc.other_finding_aid_head || "Additional Description" %></th>
        <td>
          <% @arch_desc_misc.other_finding_aid_values.each do |other_finding_aid_value| %>
            <%= apply_ead_to_html_transforms other_finding_aid_value %>
          <% end %>
        </td>
      <% end %>
      <tr class="odd">
	<th>Access</th>
	<td class="accessrestrict"> <%== @arch_desc_misc.access_restrictions_values %></td>
      </tr>
    </tbody>
  </table>
</div>
