<h2 class="al-show-sub-heading">Summary Information</h2>
<%= content_tag(:h3,'Abstract', class: 'al-show-sub-heading') unless @arch_desc_did.abstracts.empty? %>
<% @arch_desc_did.abstracts.each do |abstract| %>
  <p>
    <%== ArchiveSpace::Parsers::EadHelper.apply_ead_to_html_transforms abstract %>
  </p>
<% end %>
<div id="summary">
  <h3 class="al-show-sub-heading">At a Glance</h3>
  <dl class="row dl-invert">
    <% if @arch_desc_did.unit_id_call_number %>
      <dt class="col-md-2"> Call No.: </dt>
      <dd class="col-md-10"><%= @arch_desc_did.unit_id_call_number %></dd>
    <% end %>
    <dt class="col-md-2"> Bib ID: </dt>
    <dd class="col-md-10"><%= @arch_desc_did.unit_id_bib_id %> <%= link_to "View CLIO record", "https://clio.columbia.edu/catalog/#{@arch_desc_did.unit_id_bib_id}", target: '_blank', class: ['smaller'] %></dd>
    <dt class="col-md-2"> Creator(s): </dt>
    <dd class="col-md-10"><%= @arch_desc_did.origination_creators.join('; ') %></dd>
    <dt class="col-md-2"> Repository: </dt>
    <dd class="col-md-10"><%= @arch_desc_did.repository_corporate_name %></dd>
    <dt class="col-md-2"> Physical Description: </dt>
    <dd class="col-md-10"><%= @arch_desc_did.physical_description_extents_string %></dd>
    <dt class="col-md-2"> Language(s): </dt>
    <dd class="col-md-10"><%= @arch_desc_did.language %></dd>
    <% if @arch_desc_misc.other_finding_aid_values.first %>
      <dt class="col-md-2"><%= @arch_desc_misc.other_finding_aid_head || "Additional Description" %></dt>
      <dd class="col-md-10">
        <% @arch_desc_misc.other_finding_aid_values.each do |other_finding_aid_value| %>
          <%== ArchiveSpace::Parsers::EadHelper.apply_ead_to_html_transforms other_finding_aid_value %>
        <% end %>
      </dd>
    <% end %>
    <% if @eadid_other_finding_aid_url %>
      <dt class="col-md-2"> Additional Description: </dt>
      <dd class="col-md-10"><%= link_to nil, @eadid_other_finding_aid_url %></dd>
    <% end %>
      <dt class="col-md-2"> Access: </dt>
      <%- advance_appt = ['nnc-rb', 'nnc-ua', 'nnc-ccoh'].include? @repository_code %>
      <% if advance_appt %>
        <dd class="col-md-10" style="color:red;"> <%= t('fa.rbml_advance_appointment') %> </dd>
      <% end %>
	    <dd class="col-md-10<%= ' offset-md-2' if advance_appt -%>"> <%== @arch_desc_misc.access_restrictions_values %></dd>
	</dl>
</div>
