<h2 class="al-show-sub-heading">Using the Collection</h2>
<%= content_tag(:h3,@arch_desc_misc.other_finding_aid_head || "Additional Online Description", class: 'al-show-sub-heading') if @arch_desc_misc.other_finding_aid_values.first %>
<% @arch_desc_misc.other_finding_aid_values.each do |other_finding_aid_value| %>
  <%== ArchiveSpace::Parsers::EadHelper.apply_ead_to_html_transforms other_finding_aid_value %>
<% end %>
<%= content_tag(:h3, @arch_desc_misc.access_restrictions_head, class: 'al-show-sub-heading') unless @arch_desc_misc.access_restrictions_head.nil? %>
<% if ['nnc-rb', 'nnc-ua', 'nnc-ccoh'].include? @repository_code %>
  <%= content_tag(:p, t('fa.rbml_advance_appointment'), style: "color: red;") %>
<% end %>
<% @arch_desc_misc.access_restrictions_values.each do |access_restrictions_value| %>
  <% if ArchiveSpace::Parsers::EadHelper.highlight_offsite access_restrictions_value.text %>
    <div style="color:red;">
      <%= image_tag 'alert.gif', style: 'float:left; padding-right: 5px;' %>
  <% end %>
  <%== ArchiveSpace::Parsers::EadHelper.apply_ead_to_html_transforms access_restrictions_value %>
  <% if ArchiveSpace::Parsers::EadHelper.highlight_offsite access_restrictions_value.text %>
    </div>
  <% end %>
<% end %>
<%= content_tag(:h3, @arch_desc_misc.conditions_governing_use_head, class: 'al-show-sub-heading') unless @arch_desc_misc.conditions_governing_use_head.nil? %>
<% @arch_desc_misc.conditions_governing_use_values.each do |use_conditions_value| %>
  <%== ArchiveSpace::Parsers::EadHelper.apply_ead_to_html_transforms use_conditions_value %>
<% end %>
<%= content_tag(:h3, @arch_desc_misc.preferred_citation_head, class: 'al-show-sub-heading') unless @arch_desc_misc.preferred_citation_head.nil? %>
<% @arch_desc_misc.preferred_citation_values.each do |preferred_citation_value| %>
  <%== ArchiveSpace::Parsers::EadHelper.apply_ead_to_html_transforms preferred_citation_value %>
<% end %>
<%= content_tag(:h3,@arch_desc_misc.related_material_head, class: 'al-show-sub-heading') unless @arch_desc_misc.related_material_head.nil? %>
<% @arch_desc_misc.related_material_values.each do |related_material_value| %>
  <%== ArchiveSpace::Parsers::EadHelper.apply_ead_to_html_transforms related_material_value %>
<% end %>
<%= content_tag(:h3,@arch_desc_misc.accruals_head, class: 'al-show-sub-heading') unless @arch_desc_misc.accruals_head.nil? %>
<% @arch_desc_misc.accruals_values.each do |accruals_value| %>
  <%== ArchiveSpace::Parsers::EadHelper.apply_ead_to_html_transforms accruals_value %>
<% end %>
<%= content_tag(:h3,@arch_desc_misc.alternative_form_available_head, class: 'al-show-sub-heading') unless @arch_desc_misc.alternative_form_available_head.nil? %>
<% @arch_desc_misc.alternative_form_available_values.each do |alternative_form_available_value| %>
  <%== ArchiveSpace::Parsers::EadHelper.apply_ead_to_html_transforms alternative_form_available_value %>
<% end %>
<%= content_tag(:h3,@arch_desc_misc.appraisal_information_head, class: 'al-show-sub-heading') unless @arch_desc_misc.appraisal_information_head.nil? %>
<% @arch_desc_misc.appraisal_information_values.each do |appraisal_information_value| %>
  <%== ArchiveSpace::Parsers::EadHelper.apply_ead_to_html_transforms appraisal_information_value %>
<% end %>
<%= content_tag(:h3,@arch_desc_misc.custodial_history_head, class: 'al-show-sub-heading') unless @arch_desc_misc.custodial_history_head.nil? %>
<% @arch_desc_misc.custodial_history_values.each do |custodial_history_value| %>
  <%== ArchiveSpace::Parsers::EadHelper.apply_ead_to_html_transforms custodial_history_value %>
<% end %>
<%= content_tag(:h3,@arch_desc_misc.acquisition_information_head, class: 'al-show-sub-heading') unless @arch_desc_misc.acquisition_information_head.nil? %>
<% @arch_desc_misc.acquisition_information_values.each do |acquisition_information_value| %>
  <%== ArchiveSpace::Parsers::EadHelper.apply_ead_to_html_transforms acquisition_information_value %>
<% end %>
<%= content_tag(:h3,@arch_desc_misc.bibliography_head, class: 'al-show-sub-heading') unless @arch_desc_misc.bibliography_head.nil? %>
<% @arch_desc_misc.bibliography_paragraphs.each do |bibliography_paragraph| %>
  <%== ArchiveSpace::Parsers::EadHelper.apply_ead_to_html_transforms bibliography_paragraph %>
<% end %>
<% unless @arch_desc_misc.bibliography_bibliographic_reference_titles.empty? %>
  <ul>
    <% @arch_desc_misc.bibliography_bibliographic_reference_titles.each do |bibref_title| %>
      <%= content_tag(:li, bibref_title.text) %>
    <% end %>
  </ul>
<% end %>
