<p><%= @repository_corpname %></p>
<h3><%= @access_restrictions_head %></h3>
<% @access_restrictions_values.each do |access_restrictions_value| %>
  <%==  access_restrictions_value %>
<% end %>
<h3><%= @use_restrictions_head %></h2>
<p><%= @use_restrictions_value %></p>
<h3><%= @preferred_citation_head %></h3>
<p><%= @preferred_citation_value %></p>
