<tbody>
  <tr class="al-show-sub-heading"><th colspan="<%= @print_view ? 1 : 3 %>"><%= @label %></th></tr>
  <% @terms.each do |term| %>
  <tr>
    <td class="firstCell"><%= link_to term, search_catalog_path(f:{@field_name => [term]}), target: '_blank' %></td>
    <% unless @print_view %>
      <td>
        <a target="_blank"
          href="<%= "https://clio.columbia.edu/catalog?q=\"#{term}\"&search_field=subject" %>">
          CLIO Catalog
        </a>
            </td>
            <td>
        <a target="_blank"
          href="<%= "https://researchworks.oclc.org/archivegrid/?q=#{term}" %>">
          ArchiveGRID
        </a>
      </td>
    <% end %>
  </tr>
  <% end %>
</tbody>