<div class="sidebar col-6 col-sm-4 col-md-3 col-lg-2 px-0 bg-white">
<div class="toc list_links reset-layout list-group list-group-flush no-item-border">
  <h3 class="h6 list-group-item reset">Collection Overview</h3>
  <div class="list-group-item reset">
    <a href="<%= "#{slug}#summary" %>">Summary</a>
  </div>
  <% unless @arch_desc_misc.arrangement_head.nil? && @arch_desc_dsc.series_compound_title_array.empty? %>
    <div class="list-group-item">
      <a href="<%= "#{slug}#arrangement" %>">Arrangement</a>
    </div>
  <% end %>
  <% unless @arch_desc_misc.scope_and_content_head.nil? &&
     @arch_desc_dsc.series_compound_title_array.empty? &&
     @arch_desc_misc.other_descriptive_data_head.nil?
  %>
    <div class="list-group-item">
      <a href="<%= "#{slug}#description" %>">Description</a>
    </div>
  <% end %>
  <div class="list-group-item">
    <a href="<%= "#{slug}#using_collection" %>">Using the Collection</a>
    <% if restricted_access %>
      <p style="color:red;">Note: some material may be restricted or offsite</p>
    <% end %>
  </div>
  <div class="list-group-item">
    <a href="<%= "#{slug}#about_findaid" %>">About the Finding Aid / Processing Information</a>
  </div>
  <% if has_subjects? %>
    <div class="list-group-item">
      <a href="<%= "#{slug}#subjects" %>">Subject Headings</a>
    </div>
  <% end %>
  <% unless @arch_desc_misc.biography_history_head.nil? %>
    <div class="list-group-item">
      <a href="<%= "#{slug}#history" %>">History / Biographical Note</a>
    </div>
  <% end %>
  <% unless series_titles_urls.empty? %>
    <%= render partial: 'container_list',
               locals: { slug: slug,
                         series_titles_urls: series_titles_urls,
                         subseries_titles: @arch_desc_dsc.subseries_compound_title_array_for_each_series_array }
    %>
  <% end %>
</div>
</div>
