<h2>Container List</h2>
<%= link_to 'View All', "#{slug}/dsc#view_all" %>
<% if @preview_flag %>
  <% slug_prefix = '/preview' %>
<% else %>
  <% slug_prefix = '' %>
<% end %>
<div id="contentMenu1">
  <% series_titles_urls.each.with_index do |title_url, series_index| %>
    <div class="item">
      <% unless subseries_titles[series_index].empty? %>
        <a data-toggle="collapse"
           href="#collapse_series_<%= series_index + 1 %>"
           aria-expanded="false"
           aria-controls="collapse_series_<%= series_index + 1 %>">
           <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      <% end %>
      <%= link_to title_url.first, slug_prefix + title_url.second %>
      <div style="padding-left:10px" class="collapse" id="collapse_series_<%= series_index + 1 %>">
        <% subseries_titles[series_index].each.with_index do |subseries_title, subseries_index| %>
          <p style="margin: 5px 0 5px 0">
            <%= link_to subseries_title, slug_prefix + "#{title_url.second}#subseries_#{subseries_index + 1}" %>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>    
</div>
