<h3 class="h6 list-group-item reset">Collection Contents</h3>
<% if @preview_flag %>
  <% slug_prefix = '/preview' %>
<% else %>
  <% slug_prefix = '' %>
<% end %>
<div class="list-group-item">
  <%= link_to 'View All', "#{slug}/dsc#view_all" %>
</div>
<% series_titles_urls.each.with_index do |title_url, series_index| %>
  <% if subseries_titles[series_index].empty? %>
    <div class="list-group-item">
      <%= link_to title_url.first, slug_prefix + title_url.second %>
    </div>
  <% else %>
    <div class="list-group-item dropdown">
      <a data-bs-toggle="collapse"
        aria-expanded="false"
        aria-controls="collapse_series_<%= series_index + 1 %>"
        href="#collapse_series_<%= series_index + 1 %>"
        class="collape-toggle"
        aria-expanded="false"
        aria-controls="collapse_series_<%= series_index + 1 %>">
        <%= title_url.first %><i class="fa fa-caret-down pl-1"></i>
      </a>
      <ul class="collapse nav nav-collapse bg-light" id="collapse_series_<%= series_index + 1 %>">
        <li class="nav-item">
          <%= link_to "Go to Series", slug_prefix + title_url.second, class: "nav-link" %>
        </li>
        <% subseries_titles[series_index].each.with_index do |subseries_title, subseries_index| %>
          <li class="nav-item">
            <%= link_to subseries_title, slug_prefix + "#{title_url.second}#subseries_#{subseries_index + 1}", class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
