<!-- Main info shown on the main page for the finding aid -->
<h2>Summary Information</h2>
<%= render partial: 'finding_aids/summary' %>
<a class="fa_anchor" name="arrangement"></a>
<h2>Arrangement</h2>
<%= render partial: 'finding_aids/arrangement',
           locals: {finding_aid_id: params[:finding_aid_id]}
%>
<a class="fa_anchor" name="description"></a>
<h2>Description</h2>
<%= render partial: 'finding_aids/description',
           locals: {finding_aid_id: params[:finding_aid_id]}
%>
<a class="fa_anchor" name="using_collection"></a>
<h2>Using the Collection</h2>
<%= render partial: 'finding_aids/using_collection' %>
<a class="fa_anchor" name="about_findaid"></a>
<h2>About the Finding Aid / Processing Information</h2>
<%= render partial: 'finding_aids/about_findaid' %>
<a class="fa_anchor" name="subjects"></a>
<h2>Subject Headings</h2>
<%= render partial: 'finding_aids/subject_headings' %>
<a class="fa_anchor" name="history"></a>
<h2>History / Biographical Note</h2>
<%= render partial: 'finding_aids/history' %>
