<div class="toc" style="clear:both;">
  <% if @preview_flag %>
    <% slug = '/preview' + slug %>
  <% end %>
  <h2>Table of Contents</h2>
  <div id="contentMenu1">
    <div class="item">
      <a href="<%= "#{slug}#summary" %>">Summary</a>
    </div>
    <% unless @arch_desc_misc.arrangement_head.nil? && @arch_desc_dsc.series_compound_title_array.empty? %>
      <div class="item">
        <a href="<%= "#{slug}#arrangement" %>">Arrangement</a>
      </div>
    <% end %>
    <% unless @arch_desc_misc.scope_and_content_head.nil? &&
       @arch_desc_dsc.series_compound_title_array.empty? &&
       @arch_desc_misc.other_descriptive_data_head.nil?
    %>
      <div class="item">
        <a href="<%= "#{slug}#description" %>">Description</a>
      </div>
    <% end %>
    <div class="item">
      <a href="<%= "#{slug}#using_collection" %>">Using the Collection</a>
      <% if restricted_access %>
        <p style="color:red;">Note: some material may be restricted or offsite</p>
      <% end %>
    </div>
    <div class="item">
      <a href="<%= "#{slug}#about_findaid" %>">About the Finding Aid / Processing Information</a>
    </div>
    <% unless @genres_forms.empty? && @subjects.empty? %>
      <div class="item">
        <a href="<%= "#{slug}#subjects" %>">Subject Headings</a>
      </div>
    <% end %>
    <% unless @arch_desc_misc.biography_history_head.nil? %>
      <div class="item">
        <a href="<%= "#{slug}#history" %>">History / Biographical Note</a>
      </div>
    <% end %>
  </div>
  <hr style="border-style:solid;border-width:1px">
  <% unless series_titles_urls.empty? %>
    <%= render partial: 'container_list',
               locals: { slug: slug,
                         series_titles_urls: series_titles_urls,
                         subseries_titles: @arch_desc_dsc.subseries_compound_title_array_for_each_series_array }
    %>
  <% end %>
</div>
