<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= render partial: 'web_analytics' if CONFIG[:web_analytics] %>
    <title><%= [@finding_aid_title, @repository_name, 'Columbia University Libraries Finding Aids'].reject(&:blank?).join(' | ') %></title>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" type="text/css" href="https://toolkit.library.columbia.edu/v3/css/cul-toolkit.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render Acfa::HeaderComponent.new(blacklight_config: controller.blacklight_config) unless @print_view %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
