<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'google_analytics' if CONFIG[:google_analytics] %>
    <title><%= [@finding_aid_title, @repository_name, 'Columbia University Libraries Finding Aids'].reject(&:blank?).join(' | ') %></title>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: 'topnavbar' unless @print_view %>
    <%= yield %>
  </body>
</html>
