<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'google_analytics' if CONFIG[:google_analytics] %>
    <title><%= [@finding_aid_title, @repository_name, 'Columbia University Libraries Finding Aids'].reject(&:blank?).join(' | ') %></title>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" type="text/css" href="https://toolkit.library.columbia.edu/v3/css/cul-toolkit.css">
    <link rel="stylesheet" href="https://vjs.zencdn.net/7.11.4/video-js.css"/>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
    <%= render Acfa::HeaderComponent.new(blacklight_config: controller.blacklight_config) unless @print_view %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
