<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{@finding_aid_title} | #{@repository_name} | Columbia University Libraries Finding Aids" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=
    #  render partial: 'topnavbar'
    %>
    <div style="margin-top:60px;"></div>
    <h1 style="color:#2c5277;font-size:2em;font-weight:bold;margin-left:2em;">
      <%= "#{@finding_aid_title}" %>
    </h1>
    <%= yield %>
  </body>
</html>
